## Date:3 oct 2019
## Dictionary comprehension

In [2]:
l1=[1,2,3,4,5,6]
l2=[ele**2 for ele in l1]
l2

[1, 4, 9, 16, 25, 36]

In [5]:
d={val:val**2 for val in l1}#val is key and val**2 is value
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [10]:
s="apple ball cat dog elephant".split()
l2={word[0]:word for word in s}
l2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [13]:
s="apple ball cat dog elephant".split()
l2={word[0]:word.title() for word in s}
l2

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [15]:
s="apple ball cat dog elephant".split()
l2={word[0]:word.capitalize() for word in s}
l2

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [17]:
print(l1)
s2="one two three four five six"
s2

[1, 2, 3, 4, 5, 6]

'one two three four five six'

In [18]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [21]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

## tuple comprehension:

In [22]:
l1

[1, 2, 3, 4, 5, 6]

In [25]:
tuple(val for val in l1)

(1, 2, 3, 4, 5, 6)

calculate the sum of first n values

In [27]:
n=int(input())
sum(tuple (e for e in range(1,n+1)))

5

15

In [29]:
n=int(input())
sum([e for e in range(1,n+1) if e%2==0])

10

30

In [30]:
n2=int(input())
sum(tuple(e for e in range(1,n2+1) if e%2==0))

10

30

### tasks:
* Take two list of same length as input and return a dictionary with one as keys and other as values. 
* country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
* capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
* Output :  {'India': 'New Delhi','Pakistan': 'Islamabad','Nepal':'Kathmandu','Bhutan': 'Thimphu','China': 'Beijing','Bangladesh': 'Dhaka'}

In [35]:
country=['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
capital=['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
list(zip(country,capital))
p={k:v for k,v in zip(country,capital)}
p

{'India': 'New Delhi',
 'Pakistan': 'Islamabad',
 'Nepal': 'Kathmandu',
 'Bhutan': 'Thimphu',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka'}