# DATE:25 SEP 2019
# Tuples

In [1]:
name="abcdefg"

In [2]:
name[1:3][::-1]

'cb'

In [5]:
l1=[1,2,3,"a","c"]

In [6]:
l1.remove(3)

In [7]:
l1

[1, 2, 'a', 'c']

In [8]:
t=(1,2,3,4,5)

In [9]:
t

(1, 2, 3, 4, 5)

In [13]:
n=1,2,3,"abc"

In [15]:
n

(1, 2, 3, 'abc')

In [16]:
type(n)

tuple

In [17]:
a=('a',12,2,3,[2,34,"list"],(2,3,"65"))

In [19]:
print(a[0])# indexing
a[0]='b'

a

TypeError: 'tuple' object does not support item assignment

In [20]:
a

('a', 12, 2, 3, [2, 34, 'list'], (2, 3, '65'))

In [23]:
a[-1][::-1]

('65', 3, 2)

In [25]:
a[4][1]

34

In [26]:
help(tuple)#methods

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [27]:
t=(1,2,3,4,5,6)

In [30]:
t.count(1)# count no of 1 present in given tuple

1

In [31]:
t.index(2)

1

In [32]:
t.index(1)

0

* Python program to reverse the given elements in tuple.
  * Input: Apssdc
  * Output: cdsspA

In [33]:
input_=tuple(input())
input_,type(input_)

Apssdc

(('A', 'p', 's', 's', 'd', 'c'), tuple)

In [34]:
input_[::-1]

('c', 'd', 's', 's', 'p', 'A')

In [38]:
print("input data",input_,type(input_))
for ele in input_[::-1]:
    print(ele,end="")

input data ('A', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspA

In [40]:
input_=tuple(input())
"".join(input_[::-1])

apssdc

'cdsspa'

In [41]:
n=input()
print(n[::-1])

apssdc
cdsspa

### Python program to print names in tuples using iterations
 * Input : Sri Padmavthi mahila university- In Tuple
 * Output : Sri 
            padmavathi
            Mahila
            University

In [44]:
n=input()# without tuple
s=n.split()
for i in s:
    print(i)

sri valli
sri
valli

In [54]:
n=tuple(input()) #using tuple
s="".join(n)
t=s.split()
for i in t:
    print(i)

sri padhmavathi mahila university
sri
padhmavathi
mahila
university

In [3]:
name=tuple('sri valli'.split())
#print(name)
for i in name:
    print(i)

('sri', 'valli')
sri
valli

In [58]:
print("\n".join(name))

sri
valli

### Python program to print names in tuples using iterations
* Input : Alekhya ,Gireesha--- In Tuple
* Output : 1.Alekhya
           2.Gireesha

In [71]:
s=tuple(input())
t="".join(s)
#print(t)
n=t.split(',')
#print(n)
m=1
for i in n:
    print(m,".",i)
    m=m+1

alekhya,gireesha
1 . alekhya
2 . gireesha

# sets:

* Introduction to sets:   Unordered collections of unique elements
* indexing not working in set
* slicing also not working in set
* set methods
* set example program

In [82]:
n=[0,1,23,45,54,433,45,3455,6453,67,87,1,23]
print(n[0])
s=set(n)
s

0

{0, 1, 23, 45, 54, 67, 87, 433, 3455, 6453}

In [78]:
name={'w','d','A','T','a','a','p'}

In [79]:
name

{'A', 'T', 'a', 'd', 'p', 'w'}

In [80]:
ord("a")

97

In [81]:
name[5]

TypeError: 'set' object is not subscriptable

In [83]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [84]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [85]:
a={1,2,3,4,5,6}
b={5,6,7,8,9,0,12}
a.intersection(b)

{5, 6}

In [87]:
b.union(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [89]:
a.issubset(b)

False

In [90]:
b.issubset(a)

False

In [101]:
a={1,2,3,4,5,6}
b={7,8,9,0,1,2}
a.symmetric_difference(b)

{0, 3, 4, 5, 6, 7, 8, 9}

In [104]:
a.symmetric_difference_update(b)
a

{0, 3, 4, 5, 6, 7, 8, 9}

In [105]:
len(a)

8

* Give any string find out the unique length .
* Input : abcdadce
* Output: 5

In [108]:
n=input()
s=set(n)
len(s)

abcdadce

5

In [109]:
print(len(set(input())))

apssdc
5

# Dictionaries
* Dictionary is an Un-ordered set of key and value pair it is Container that contains data enclosed with curly braces.the pair i.e Key and Values is known an item.

* Introduction to Dictionaries
* Creating a Dictionary 
* Accessing values from Dictionary 
* Updating elements 
* deleting the elements

In [113]:
details=['mstp','sep',2019,'apssdc']
d_details={'program':'mstp','month':'sep','year':2019}

In [114]:
d={1:'abc',2:123,'dict':{1:'a',2:'b'},'list':[1,2,3,4]}#{key:value}
d

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [115]:
d[1]

'abc'

In [118]:
d['dict'][1]

'a'

In [119]:
program={1:'c',2:"c++",3:"java"}#insert
personal={'name':'vasantha','age':68,'gender':"?"}#update
program[4]="python"
print(program)

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [120]:
personal['gender']='others'
print(personal)

{'name': 'vasantha', 'age': 68, 'gender': 'others'}

In [121]:
len(personal)

3

In [124]:
for ele in personal:
    print(ele)

name
age
gender

In [125]:
for ele in personal.values():
    print(ele)

vasantha
68
others

In [127]:
for ele1,ele2 in personal.items():
    print(ele1,ele2,sep=":")

name:vasantha
age:68
gender:others

In [128]:
for ele in personal.items():
    print(ele,type(ele))

('name', 'vasantha') <class 'tuple'>
('age', 68) <class 'tuple'>
('gender', 'others') <class 'tuple'>

In [130]:
print(1,2,3,4,sep="@",end="+")
print(1,2,3,4)

1@2@3@4+1 2 3 4

In [131]:
dir({})#or dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [132]:
program={1:'c',2:"c++",3:"java"}
personal={'name':'vasantha','age':68,'gender':"?"}
personal=program.copy()

In [133]:
personal

{1: 'c', 2: 'c++', 3: 'java'}

In [134]:
program[4]="python"
program

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

# tasks:
* Two Strings: Given two strings of equal length, you have to tell whether they both strings are identical. 
* Input Format:abc cab

* Output Format:"YES"

In [137]:
n=input().split()
s=len(n[0])
p=len(n[1])
if s is p:
    print("YES")
else:
    print("NO")

abc cab
YES

* Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.
* Sample Input : krishna aditya ram eshwer

* Sample output : krishna

In [147]:
name=input().split()
m=[]
for ele in name:
    m.append(len(ele))
#print(m)
#max(m)
m.index(max(m))
print(name[0])

krishna aditya ram eshwer
krishna

In [146]:
name=input().split()#['kris','aditya','ram','eshwer']
m=[]
for ele in name:
    m.append(len(ele)) #[5,6,3,,6]
s=max(m)#[6]
for i in range(len(name)):#0 1 2 3
    if s==len(name[i]):
        print(name[i],end=" ")

kris aditya ram eshwer
aditya eshwer

* names="Apollo Brix Chichi krish", Print the names which has duplicate characters
* output: Apollo Chichi

In [151]:
n=input().split()
for i in range(len(n)):#0,1,2,3
    if i%2==0:
        print(n[i])

Apollo Brix Chichi krish
Apollo
Chichi

In [7]:
n="Apollo Brix Chichi krish".split()
for i in n:
    l=len(i) 
    s=len(set(i)) #APOLO
    if l!=s:
        print(i,end=" ")

Apollo Chichi

In [1]:
n=int(input())
for i in range(n):

3
0
1
2
3