# Date:20 sep 2019
# functions
# Built-in functions

In [1]:
print(chr(87))

W

In [2]:
print(input("enter a value"))

enter a value5
5

In [3]:
print(ord('c'))

99

In [4]:
print(bin(5))

0b101

In [5]:
print(min(23,45,12))

12

In [6]:
print(max(67,34,24))

67

In [7]:
print(type('s'))

<class 'str'>

In [1]:
print(type(7))

<class 'int'>

In [4]:
print(min('agfsdtry'))

a

In [5]:
a=30
b=25
min(a,b)

25

In [6]:
a=input("enter a value")
b=input("enter b value")
min(a,b)

enter a value40
enter b value35

'35'

In [8]:
a=int(input("enter a value"))
b=int(input("enter b value"))
min(a,b)

enter a value35
enter b value23

23

In [10]:
a=input("enter a value")
b=input("enter b value")
print(int(min(a,b)))

enter a value67
enter b value34
34

In [11]:
range(6)

range(0, 6)

In [12]:
range(2,6)

range(2, 6)

In [14]:
for i in range(1,4):
    print(i)

1
2
3

In [15]:
for i in range(1,6,2): #
    print(i)

1
3
5

In [16]:
for i in range(1,10,4):
    print(i,end="")

159

In [1]:
for i in range(1,10,4):
    print(i,end="\n")

1
5
9

# User defined functions

* Without arguments & without return values
* Without arguments & with return Value
* With arguments & without return values
* With arguments & return values

#### Without arguments & without return value####

### syntax:
def function_name():
        statement
        body of the function

In [2]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

### Without arguments & with return Value

In [3]:
def mul():
    a=4
    b=5
    return(a*b)
mul()

20

### With arguments & without return values

In [5]:
def sub(a,b):
    print(a-b)
sub(20,5)

15

In [8]:
def add(a,b):
    print(a+b)
add(int(input()),int(input()))

30
10
40

### With arguments & return values

In [9]:
def mul(a,b):
    return(a*b)
mul(int(input()),int(input()))

3
4

12

In [11]:
def div(a,b):
    return(int(a/b)
div(6,2)

3.0

# Function types in python
* Required arguments
* Keyword arguments
* Default arguments
* Variable length arguments

In [12]:
# Required arguments
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [15]:
add(1,2)

3

In [17]:
# Keyword arguments
def keyword(name,age):
    print(name,age)
keyword(name="valli",age=20)

valli 20

In [18]:
# Keyword arguments
def keyword(name,age):
    print(name,age)
keyword(age=20,name="valli")

valli 20

In [24]:
# Default arguments
def default(name,age=20):
    print(name,age)
default('valli')

valli 20

In [26]:
# Default arguments
def default(name='pandu',age=20):
    print(name,age)
default()

pandu 20

In [29]:
# Default arguments
def default(name,age=20):
    print(name,age)
default(input())

sandhya
sandhya 20

In [30]:
# Variable length arguments
def var_len(*values):
    print(*values)
var_len(1,2,3,4,12)

1 2 3 4 12

In [31]:
# Variable length arguments
def var_len(*values):
    print(*values)
var_len('valli','vallika')

valli vallika

In [32]:
# Variable length arguments
def var_len(*values):
    print(*values)
var_len(input())

12343
12343

# task1:
#### Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive

In [35]:
#using functions
def div(lb,ub):
    for i in range(lb,ub+1):
        if(i%6==0 and 100%i!=0):
            print(i)
div(1,100)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [41]:
lb=1
ub=20
for i in range(lb,ub+1):
        if(i%6==0 and 100%i!=0):
            print(i)

6
12
18

# task2:
#### Function to find the average of cubes of all the even numbers in a given range(lb, ub) inclusive

In [55]:
#using functions 
def avg(lb,ub):
    c=0
    s=0
    for i in range(lb,ub+1):
        if(i%2==0):
            s=s+1
            c=c+i^3
    print(c/s) #a=(c/s) 
                #print(a)
avg(2,10)

5.8

### practice

In [52]:
a=int(input("enter n value"))
c=0
s=0
for i in range(1,a):
    if(i%2==0):
        s=s+1
        c=c+i
a=(c/s)
print(a)

enter n value11
6.0

# task3:
### Function to generate the list of factors for a given number

In [57]:
#using functions
def fact(n):
    for i in range(1,n):
        if(n%i==0):
            print(i)
fact(10)

1
2
5

# task4:
### Function to calculate the factorial of a given number

In [62]:
# using functions
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact(int(input()))

5
120

## Advanced programs
### Function to calculate the average of all factorials in a given range

In [68]:
def avgfact(l,u):
    c=0
    s=0
    for i in range(l,u+1):
        f=1
        s=s+1
        for j in range(1,i+1):
            f=f*j
        c=c+f
    print(c/s)
avgfact(1,4)

8.25

### Function to generate Multiplication table for a number in a given range
* 10 in the range(100, 102) inclusive
* 10 x 100 = 1000
* 10 x 101 = 1010
* 10 x 102 = 1020

In [86]:
def mul(l,u):
    n=10
    for i in range(l,u+1):
        s=n*i
        print(n,"*",i,"=",s)
mul(100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020