# Date:5 oct 2019
## Lambda
* lambda arguments expression 
* we can write 0 or more arguments but only one expression

In [2]:
def cube(x):
    print(x**3)
cube(5)

125

In [6]:
result=lambda x : x**3
result(5)

125

## multiply given number with 109

In [7]:
5*109

545

In [10]:
s=lambda x:x*109
s(int(input()))

10

1090

### write a program to print cubes of 1 to 6 numbers without using for loop

In [11]:
l=[1,2,3,4,5,6]
res=lambda x : x**3
list(map(res,l))

[1, 8, 27, 64, 125, 216]

In [12]:
list(map(lambda x : x**3 , [1,2,3,4,5,6]))

[1, 8, 27, 64, 125, 216]

### Filters
### Filter function in python is used to check whether given element is boolean or not (true or false)
### syntax :filter (function,sequence)

In [28]:
#given one list li=[1,2,"q","l"]
def isDigit(a):
    a=str(a)
    if a.isdigit():
         return True
    return False
isDigit(1)

True

In [69]:
li=[1,2,"q","l"]
list(filter(isDigit,li))

TypeError: 'list' object is not callable

### to print all prime numbers for given range using filter() function

In [27]:
def prime(num):
    c=0
    for i in range(1,num+1):
        if num%i==0:
            c=c+1
    if c==2:
        return True
    return False
prime(5)

True

In [52]:
tuple(filter(prime,range(10)))

(2, 3, 5, 7)

In [54]:
"".join(filter(isDigit,["1","2","3","5"]))

'1235'

### print all even numbers in range between 20 to 50 using lambda and filter function

In [68]:
a = lambda x : x%2==0
tuple(filter(a,range(20,51)))

(20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50)

In [72]:
from random import randint
def marks(n,lb,ub):
    filename="data.txt"
    with open(filename,"w") as f:
        for i in range(n):
            mark=randint(lb,ub)
            f.write(str(mark)+"\n")
    return
marks(1000,0,100)

In [73]:
# class average
# pass percentage >30
# fail percentage <30
# distinction----by using filters and lambda function  >70

### given two list l1 and l2 contains first name l2 contain last name.write a program to print single list that should contain full name of l1 and l2 and first letter must be capitals

l1=["alekhya","gireesha"]

l2=["ganji","devara"]

output---["Alekhya Ganji","Gireesha Devara"]

In [84]:
l1=["alekhya","gireesha"]
l2=["ganji","devara"]
a=lambda x,y:x[0].upper()+x[1:]+" "+y[0].upper()+y[1:]
tuple(map(a,l1,l2))

('Alekhya Ganji', 'Gireesha Devara')